.bodyIndex {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 20% 68% 12%;
	background-image: url("png.sky.png");
	/*background-color: rgb(109, 166, 250);*/
}
.bodyCommand {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 88% 12%;
	background-image: url("png.sky.png");
}
.commandPanel {
	display: flex;
	justify-content: center;
	align-items: center;
}
.commandText {
	font-size: 20px;
	margin-left: 7px;
}
* {
	padding: 0;
	margin: 0;
}
.objectPanel {
	display: flex;
	justify-content: center;
	align-items: center;
}
.objectPanel img {
	width: 85%;
	height: 85%;
}
.menuPanel {
	display: flex;
	justify-content: center;
}
.menuButton img {
	width: 75px;
	height: 60px;
}
.menuButton {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menuText {
	text-decoration: none;
	color: rgb(5, 5, 5);
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(WDXLLubrifontJPN-Regular.ttf);
}
.topScorePanel {
	height: 60%;
}
.energy {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}
.energy img {
	width: 50px;
	position: relative;
	left: 24px;
	z-index: 5;
}
#energyBox {
	width: 100px;
	height: 20px;
	border-radius: 4px;
	background-color: gray;
	color: azure;
	font-weight: 700;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#energyFill {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	border-radius: 4px;
	background: linear-gradient(90deg, #0c4fdf 0%, #a9c3f1 100%);
}
#energyText {
	z-index: 5;
}
.centerScorePanel {
	height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centerScorePanel img {
	width: 40px;
}
#score {
	font-size: 36px;
	color: azure;
	font-weight: 800;
	margin-left: 10px;
}
.bottonScorePanel {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	margin-top: 10px;
	color: rgb(255, 240, 24);
	font-weight: 600;
}
.plus {
	position: absolute;
	color: white;
	font-size: 18px;
	font-weight: 600;
	animation: moveUp 2s forwards;
}
@keyframes moveUp {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-120px);
		opacity: 0;
	}
}
.upgradeCards {
	width: calc(100vw - 40px);
	padding: 20px;
}
.caption {
	font-size: 20px;
	font-weight: 700;
	font-family: MyFont;
	margin-bottom: 10px;
	margin-top: 10px;
}
.card {
	width: 28%;
	height: 125px;
	background-color: #a3c1f7;
	border-radius: 10px;
	font-weight: 600;
	font-family: MyFont;
	color: #faf9f9;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.containerUpgradeCards {
	display: flex;
	justify-content: space-between;
}
.imageCard {
	width: 90%;
	height: 90px;
	border-radius: 10px;
	margin-top: 7%;
}
.imageCard p {
	background-color: rgba(138, 146, 153, 0.61);
	width: 38px;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
}
.card:nth-child(1) .imageCard {
	background-image: url(сова.card.png);
	background-size: cover;
}
.card:nth-child(2) .imageCard {
	background-image: url(сова.card1.png);
	background-size: cover;
}
.card:nth-child(3) .imageCard {
	background-image: url(сова.card2.png);
	background-size: cover;
}
.dialog {
	position: fixed;
	inset: auto 0 0 0;
	border: 4px solid rgba(118, 255, 248, 0.671);
	border-bottom: 0px;
	width: calc(100% - 4px);
	padding: 15px;
	height: 75vh;
	border-radius: 20px 20px 0 0;
	background: linear-gradient(150deg, #89b4ff 0%, #8ba0c9 100%);
}
.imgDialog {
	width: 70%;
	height: 40%;
	border-radius: 20px;
}
.textContainer img {
	width: 30px;
	margin-left: 20px;
}
form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.closeButton {
	width: 35px;
	height: 35px;
	padding: 5px;
	border-radius: 50px;
	background-color: rgba(118, 255, 248, 0.671);
	border: 0px;
	font-size: 16px;
	align-self: flex-end;
}
form h2 {
	font-family: MeFont;
}
.textContainer {
	display: flex;
	background-color: rgba(111, 235, 228, 0.459);
	border-radius: 7px;
	width: 45%;
	justify-content: center;
	align-items: center;
	color: #faf9f9;
}
.pay {
	width: 70%;
	height: 6vh;
	background-color: rgba(118, 255, 248, 0.671);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0px;
	border-radius: 20px;
}
::backdrop {
	background-color: #75747494;
}
.passiveContainer {
	width: calc(100vw - 40px);
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}
.cardPassive {
	display: inline-block;
	margin-right: 10px;
}
.passiveContainer::-webkit-scrollbar {
	display: none;
}
